<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401950548500-0mbrplh6f90bt92i26go3r1gqv61n46t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401950548500-0mbrplh6f90bt92i26go3r1gqv61n46t</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ1vYI6g3MfL2Ni3DMnLMtSnUkXYsjHBM</string>
	<key>GCM_SENDER_ID</key>
	<string>401950548500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-flutter-5218c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-flutter-5218c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401950548500:ios:66fde876a8b425edc97d01</string>
</dict>
</plist>